@charset "utf-8";
/* CSS Document */
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
	font-weight:normal;
	color:#666;
	font-size:16px;
}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
	font-size:16px;
	color:#666;
	text-decoration:none;
	padding:10px 12px;
}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
	font-weight:normal;
	color:#db3630;
	font-size:16px;
}
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited{
	font-size:16px;
	color:#db3630;
	text-decoration:none;
}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
	font-weight: normal;
	font-size:16px;
	color:#666;
}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{
	font-size:16px;
	color:#db3630;
	text-decoration:none;
	background:url(../images/index_27.jpg) no-repeat center bottom; width:90px;
	padding:10px 12px;
}
