*{padding:0;margin:0}
ol,ul,li{list-style:none}
img{border:none}
#chat_f1,#chat_f2{font-size:12px}
#chat_f1{position:absolute;right:10px;top:200px;width:93px;_top:expression(eval(document.documentElement.scrollTop+220)); float:left; z-index:2;}
#chat_f1_main{height:104px;background:url(../images/c2.gif) no-repeat}
#chat_f1_main-En{height:104px;background:url(../images/c2-En.gif) no-repeat}
#close{display:block;width:17px;height:17px;margin-left:76px;cursor:pointer;}
#chat_f1_bottom{height:3px;width:82px;overflow:hidden;background:url(../images/c2.gif) 0px -160px no-repeat }
#chat_f1_bottom-En{height:3px;width:82px;overflow:hidden;background:url(../images/c2-En.gif) 0px -160px no-repeat }
.chat_f1_expr{width:82px;height:0px;overflow:hidden}
.list{height:25px;border:1px solid #dbdbdb;border-top:none;overflow:hidden;color:#787878;background:#fff;text-align:center; }
.list a{color:#787878; text-decoration:none;}
.list a:hover{color:#787878; text-decoration:underline;}
.name{line-height:25px;background:url(../images/c1.jpg) no-repeat;height:20px; margin-left:4px;}
.current{border-left-color:#fff}
.arrow{color:#fff;}
.chat_f1_expr .list .detail .border{position:absolute;width:1px;height:25px;margin-left:210px;background:#fff;margin-top:-10px}
#chat_f2{display:none;position:absolute;right:1px;top:220px;border:1px solid #ccc;background:#fff;padding:1px 3px;width:1em;_top:expression(eval(document.documentElement.scrollTop+220));color:#F60;cursor:pointer;}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  height:3000px;
  margin: 2em auto;
  display:block
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  background: #5c4751;
  height: 100px;
  text-align: center;
}
header h1 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1.6em;
  margin-bottom: .2em;
}
header p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #957484;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 200px;
  }
  header h1 {
    font-size: 30px;
    font-size: 1.875rem;
    padding-top: 2.6em;
  }
}

main p {
  font-size: 14px;
  font-size: 1rem;
  line-height: 22px;
}
@media only screen and (min-width: 1024px) {
  main p {
    font-size: 14px;
    font-size: 1rem;
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(32, 25, 24, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* ����û��������¹���,�����ť��͸���Ȼ��ø�� */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}