@CHARSET "UTF-8";

html,body,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input{
	margin: 0;
	padding: 0;
}

body {
	background: none repeat scroll 0 0 #FFFFFF;
	font: 14px 宋体, Arial, sans-serif;
}