<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	<typeAliases>
	
		<typeAlias alias="productPrimaryImagesPojo" type="com.tzmb2c.web.pojo.ProductPrimaryImagesPojo" />
		<typeAlias alias="productFocusImagesPojo" type="com.tzmb2c.web.pojo.ProductFocusImagesPojo" />
		<typeAlias alias="userOrderStatisticsPojo" type="com.tzmb2c.web.pojo.UserOrderStatisticsPojo" />
		<typeAlias alias="userCollectPojo" type="com.tzmb2c.web.pojo.UserCollectPojo" />
		<typeAlias alias="userShopCollectPojo" type="com.tzmb2c.web.pojo.UserShopCollectPojo" />
		<typeAlias alias="userInfoPojo" type="com.tzmb2c.web.pojo.UserInfoPojo" />
		<typeAlias alias="shopPojo" type="com.tzmb2c.web.pojo.ShopPojo" />
		<typeAlias alias="sysDictPojo" type="com.tzmb2c.web.pojo.SysDictPojo" />
		<typeAlias alias="loginRecPojo" type="com.tzmb2c.web.pojo.LoginRecPojo" />
		<typeAlias alias="menuPojo" type="com.tzmb2c.web.pojo.MenuPojo" />
		<typeAlias alias="sysRoleMenuPojo" type="com.tzmb2c.web.pojo.SysRoleMenuPojo" />
		<typeAlias alias="orderDetailPojo" type="com.tzmb2c.web.pojo.OrderDetailPojo" />
		<typeAlias alias="orderPojo" type="com.tzmb2c.web.pojo.OrderPojo" />
		<typeAlias alias="orderShipPojo" type="com.tzmb2c.web.pojo.OrderShipPojo" />
		<typeAlias alias="consumerPojo" type="com.tzmb2c.web.pojo.ConsumerPojo" />
		<typeAlias alias="manufacturerPojo" type="com.tzmb2c.web.pojo.ManufacturerPojo" />
		<typeAlias alias="cartPojo" type="com.tzmb2c.web.pojo.CartPojo" />
		<typeAlias alias="productTypePojo" type="com.tzmb2c.web.pojo.ProductTypePojo" />
		<typeAlias alias="orderRefundPojo" type="com.tzmb2c.web.pojo.OrderRefundPojo" />
		<typeAlias alias="helpPojo" type="com.tzmb2c.web.pojo.HelpPojo" />
		<typeAlias alias="pagePushPojo" type="com.tzmb2c.web.pojo.PagePushPojo" />
		<typeAlias alias="productAccessLogPojo" type="com.tzmb2c.web.pojo.ProductAccessLogPojo" />
		<typeAlias alias="sysLoginLogPojo" type="com.tzmb2c.web.pojo.SysLoginLogPojo" />
		<typeAlias alias="searchKeyPojo" type="com.tzmb2c.web.pojo.SearchKeyPojo" />
		<typeAlias alias="messageReportPojo" type="com.tzmb2c.web.pojo.MessageReportPojo" />
		<typeAlias alias="messagePojo" type="com.tzmb2c.web.pojo.MessagePojo" />
		<typeAlias alias="productPojo" type="com.tzmb2c.web.pojo.ProductPojo" />
		<typeAlias alias="productCommentPojo" type="com.tzmb2c.web.pojo.ProductCommentPojo" />
		<typeAlias alias="accountSecurityPojo" type="com.tzmb2c.web.pojo.AccountSecurityPojo" />
		<typeAlias alias="purchaserAttentionPojo" type="com.tzmb2c.web.pojo.PurchaserAttentionPojo" />
		<typeAlias alias="productImagesPojo" type="com.tzmb2c.web.pojo.ProductImagesPojo" />
		<typeAlias alias="infoPojo" type="com.tzmb2c.web.pojo.InfoPojo" />
		<typeAlias alias="deliveryAddressPojo" type="com.tzmb2c.web.pojo.DeliveryAddressPojo" />
		<typeAlias alias="userAttestationPojo" type="com.tzmb2c.web.pojo.UserAttestationPojo" />
		<typeAlias alias="historyPojo" type="com.tzmb2c.web.pojo.HistoryPojo" />
		<typeAlias alias="sysRolePojo" type="com.tzmb2c.web.pojo.SysRolePojo" />
		<typeAlias alias="sysLoginPojo" type="com.tzmb2c.web.pojo.SysLoginPojo" />
		<typeAlias alias="sysUserRolePojo" type="com.tzmb2c.web.pojo.SysUserRolePojo" />
		<typeAlias alias="productStockPojo" type="com.tzmb2c.web.pojo.ProductStockPojo" />
		<typeAlias alias="userOrderRefundPojo" type="com.tzmb2c.web.pojo.UserOrderRefundPojo" />
		<typeAlias alias="userOrderDetailPojo" type="com.tzmb2c.web.pojo.UserOrderDetailPojo" />
		<typeAlias alias="helpTypePojo" type="com.tzmb2c.web.pojo.HelpTypePojo" />
		<typeAlias alias="userConsumerCollectPojo" type="com.tzmb2c.web.pojo.UserConsumerCollectPojo" />
		<typeAlias alias="syntheticalDictPojo" type="com.tzmb2c.web.pojo.SyntheticalDictPojo" />
		<typeAlias alias="sysAreaPojo" type="com.tzmb2c.web.pojo.SysAreaPojo" />
		<typeAlias alias="feedBackPojo" type="com.tzmb2c.web.pojo.FeedBackPojo" />
		<typeAlias alias="retrievePojo" type="com.tzmb2c.web.pojo.RetrievePojo" />
		<typeAlias alias="sysSecurityQuestionPojo" type="com.tzmb2c.web.pojo.SysSecurityQuestionPojo" />
		<typeAlias alias="userVerifyPojo" type="com.tzmb2c.web.pojo.UserVerifyPojo" />
		<typeAlias alias="alipayOrderInfoPojo" type="com.tzmb2c.web.pojo.AlipayOrderInfoPojo" />
		<typeAlias alias="verificationPojo" type="com.tzmb2c.web.pojo.VerificationPojo" />
		<typeAlias alias="eleorderPojo" type="com.tzmb2c.web.pojo.EleorderPojo" />
		<typeAlias alias="userVisitPojo" type="com.tzmb2c.web.pojo.UserVisitPojo" />
		<typeAlias alias="IpPojo" type="com.tzmb2c.web.pojo.IpPojo" />
		<typeAlias alias="activityPojo" type="com.tzmb2c.web.pojo.ActivityPojo" />
		<typeAlias alias="agencyPojo" type="com.tzmb2c.web.pojo.AgencyPojo" />
		<typeAlias alias="agencyCollectPojo" type="com.tzmb2c.web.pojo.AgencyCollectPojo" />
		<typeAlias alias="agencyAuthenticationPojo" type="com.tzmb2c.web.pojo.AgencyAuthenticationPojo" />
		<typeAlias alias="userMessageStatePojo" type="com.tzmb2c.web.pojo.UserMessageStatePojo" />
		<typeAlias alias="agencyPushPojo" type="com.tzmb2c.web.pojo.AgencyPushPojo" />
		<typeAlias alias="pushHomePagePojo" type="com.tzmb2c.web.pojo.PushHomePagePojo" />
		<typeAlias alias="activityProductPojo" type="com.tzmb2c.web.pojo.ActivityProductPojo" />
		<typeAlias alias="agencyApplyPojo" type="com.tzmb2c.web.pojo.AgencyApplyPojo" />
		<typeAlias alias="activityTimePojo" type="com.tzmb2c.web.pojo.ActivityTimePojo" />
		<typeAlias alias="activityGoodsPojo" type="com.tzmb2c.web.pojo.ActivityGoodsPojo" />
		<typeAlias alias="activityTitlePojo" type="com.tzmb2c.web.pojo.ActivityTitlePojo" />
		<typeAlias alias="wxpayOrderInfoPojo" type="com.tzmb2c.web.pojo.WxpayOrderInfoPojo" />
		<typeAlias alias="couponPojo" type="com.tzmb2c.web.pojo.CouponPojo" />
		<typeAlias alias="userCouponPojo" type="com.tzmb2c.web.pojo.UserCouponPojo" />
		<typeAlias alias="lotteryLogPojo" type="com.tzmb2c.web.pojo.LotteryLogPojo" />
		<typeAlias alias="lotteryForwardPojo" type="com.tzmb2c.web.pojo.LotteryForwardPojo" />
		<typeAlias alias="couponOrderPojo" type="com.tzmb2c.web.pojo.CouponOrderPojo" />
		<typeAlias alias="lotteryPojo" type="com.tzmb2c.web.pojo.LotteryPojo" />
		<typeAlias alias="hongbaoLogPojo" type="com.tzmb2c.web.pojo.HongbaoLogPojo" />
		<typeAlias alias="userDistributionInfoPojo" type="com.tzmb2c.web.pojo.UserDistributionInfoPojo" />
		<typeAlias alias="productSkuLinkPojo" type="com.tzmb2c.web.pojo.ProductSkuLinkPojo" />
		<typeAlias alias="skuAttributePojo" type="com.tzmb2c.web.pojo.SkuAttributePojo" />
		<typeAlias alias="userScorePojo" type="com.tzmb2c.web.pojo.UserScorePojo" />
		<typeAlias alias="userScoreLogPojo" type="com.tzmb2c.web.pojo.UserScoreLogPojo" />
		<typeAlias alias="redPacketCodePojo" type="com.tzmb2c.web.pojo.RedPacketCodePojo" />
		<typeAlias alias="tempDataPojo" type="com.tzmb2c.web.pojo.TempDataPojo" />
		<typeAlias alias="scenePojo" type="com.tzmb2c.web.pojo.ScenePojo" />
		<typeAlias alias="sceneProductPojo" type="com.tzmb2c.web.pojo.SceneProductPojo" />
		<typeAlias alias="baiduLoginPojo" type="com.tzmb2c.web.pojo.BaiduLoginPojo" />
		<typeAlias alias="popupPojo" type="com.tzmb2c.web.pojo.PopupPojo" />
		<typeAlias alias="specialShowPojo" type="com.tzmb2c.web.pojo.SpecialShowPojo" />
		<typeAlias alias="specialProductPojo" type="com.tzmb2c.web.pojo.SpecialProductPojo" />
		<typeAlias alias="brandDicPojo" type="com.tzmb2c.web.pojo.BrandDicPojo" />
		<typeAlias alias="navigationPojo" type="com.tzmb2c.web.pojo.NavigationPojo" />
		<typeAlias alias="userSpecialCollectPojo" type="com.tzmb2c.web.pojo.UserSpecialCollectPojo" />
		<typeAlias alias="userBrandPojo" type="com.tzmb2c.web.pojo.UserBrandPojo" />
		<typeAlias alias="specialPushPojo" type="com.tzmb2c.web.pojo.SpecialPushPojo" />
		<typeAlias alias="userWalletPojo" type="com.tzmb2c.web.pojo.UserWalletPojo" />
		<typeAlias alias="userWalletLogPojo" type="com.tzmb2c.web.pojo.UserWalletLogPojo" />
		<typeAlias alias="manufacturerSettlePojo" type="com.tzmb2c.web.pojo.ManufacturerSettlePojo" />
		<typeAlias alias="splashScreenPojo" type="com.tzmb2c.web.pojo.SplashScreenPojo" />
		<typeAlias alias="userCertificatesPhotoPojo" type="com.tzmb2c.web.pojo.UserCertificatesPhotoPojo" />
		<typeAlias alias="homePageIconPojo" type="com.tzmb2c.web.pojo.HomePageIconPojo" />
		<typeAlias alias="adSpreadPojo" type="com.tzmb2c.web.pojo.AdSpreadPojo" />
		<typeAlias alias="userDeductionScorePojo" type="com.tzmb2c.web.pojo.UserDeductionScorePojo" />
		<typeAlias alias="messagesCenterPojo" type="com.tzmb2c.web.pojo.MessagesCenterPojo" />
	    <typeAlias alias="manufacturerWithdrawPojo" type="com.tzmb2c.web.pojo.ManufacturerWithdrawPojo" />
	    <typeAlias alias="orderPayinfoPojo" type="com.tzmb2c.web.pojo.OrderPayinfoPojo" />
	    <typeAlias alias="childrenStoryPojo" type="com.tzmb2c.web.pojo.ChildrenStoryPojo" />
        <typeAlias alias="childrenChannelPojo" type="com.tzmb2c.web.pojo.ChildrenChannelPojo" />
        <typeAlias alias="childrenChannelHistoryPojo" type="com.tzmb2c.web.pojo.ChildrenChannelHistoryPojo" />
        <typeAlias alias="userToyLogPojo" type="com.tzmb2c.web.pojo.UserToyLogPojo" />
        <typeAlias alias="userPartsLogPojo" type="com.tzmb2c.web.pojo.UserPartsLogPojo" />
        <typeAlias alias="gameFactoryToyPojo" type="com.tzmb2c.web.pojo.GameFactoryToyPojo" />
        <typeAlias alias="gameToyPartsPojo" type="com.tzmb2c.web.pojo.GameToyPartsPojo" />
        <typeAlias alias="labelPojo" type="com.tzmb2c.web.pojo.LabelPojo" />
        <typeAlias alias="taskSettingPojo" type="com.tzmb2c.web.pojo.TaskSettingPojo" />
        <typeAlias alias="taskPojo" type="com.tzmb2c.web.pojo.TaskPojo" />
        <typeAlias alias="ageSkillLinkPojo" type="com.tzmb2c.web.pojo.AgeSkillLinkPojo" />
        <typeAlias alias="userTalentAuthPojo" type="com.tzmb2c.web.pojo.UserTalentAuthPojo" />
        <typeAlias alias="videoPojo" type="com.tzmb2c.web.pojo.VideoPojo" />
        <typeAlias alias="socialCircleTypePojo" type="com.tzmb2c.web.pojo.SocialCircleTypePojo" />
        <typeAlias alias="socialCirclePojo" type="com.tzmb2c.web.pojo.SocialCirclePojo" />
        <typeAlias alias="userMakerBrandPojo" type="com.tzmb2c.web.pojo.UserMakerBrandPojo" />
        <typeAlias alias="userMakerThemePojo" type="com.tzmb2c.web.pojo.UserMakerThemePojo" />
        <typeAlias alias="userCircleFollowPojo" type="com.tzmb2c.web.pojo.UserCircleFollowPojo" />
        <typeAlias alias="platformSpecialPojo" type="com.tzmb2c.web.pojo.PlatformSpecialPojo" />
        <typeAlias alias="knowledgeBasePojo" type="com.tzmb2c.web.pojo.KnowledgeBasePojo" />
        <typeAlias alias="userCirclePostPojo" type="com.tzmb2c.web.pojo.UserCirclePostPojo" />
        <typeAlias alias="userMakerShopPojo" type="com.tzmb2c.web.pojo.UserMakerShopPojo" />
        <typeAlias alias="userPostCollectPojo" type="com.tzmb2c.web.pojo.UserPostCollectPojo" />
        <typeAlias alias="userCalendarPojo" type="com.tzmb2c.web.pojo.UserCalendarPojo" />
        <typeAlias alias="userTaskPojo" type="com.tzmb2c.web.pojo.UserTaskPojo" />
        <typeAlias alias="userPostHistoryPojo" type="com.tzmb2c.web.pojo.UserPostHistoryPojo" />
        <typeAlias alias="userPostCommentPojo" type="com.tzmb2c.web.pojo.UserPostCommentPojo" />
        <typeAlias alias="userPostLikeHistoryPojo" type="com.tzmb2c.web.pojo.UserPostLikeHistoryPojo" />
        <typeAlias alias="taskTypeLinkPojo" type="com.tzmb2c.web.pojo.TaskTypeLinkPojo" />
        <typeAlias alias="honorRulePojo" type="com.tzmb2c.web.pojo.HonorRulePojo" />
        <typeAlias alias="userGrowthLinePojo" type="com.tzmb2c.web.pojo.UserGrowthLinePojo" />
        <typeAlias alias="dataAuditPojo" type="com.tzmb2c.web.pojo.DataAuditPojo" />
        <typeAlias alias="userBabyPojo" type="com.tzmb2c.web.pojo.UserBabyPojo" />
        <typeAlias alias="cmbUserAgreePojo" type="com.tzmb2c.web.pojo.CmbUserAgreePojo" />
        <typeAlias alias="hotPushPojo" type="com.tzmb2c.web.pojo.HotPushPojo" />
        <typeAlias alias="microPagePojo" type="com.tzmb2c.web.pojo.MicroPagePojo" />
        <typeAlias alias="yourFavouritesPojo" type="com.tzmb2c.web.pojo.YourFavouritesPojo" />
        <typeAlias alias="yourFavouritesDetailPojo" type="com.tzmb2c.web.pojo.YourFavouritesDetailPojo" />
        <typeAlias alias="focusSettingPojo" type="com.tzmb2c.web.pojo.FocusSettingPojo" />
        <typeAlias alias="hotBrandRecommendPojo" type="com.tzmb2c.web.pojo.HotBrandRecommendPojo" />
        <typeAlias alias="shopRecommendPojo" type="com.tzmb2c.web.pojo.ShopRecommendPojo" />
        <typeAlias alias="productTypeRecommendPojo" type="com.tzmb2c.web.pojo.ProductTypeRecommendPojo" />
        <typeAlias alias="productRecommendPojo" type="com.tzmb2c.web.pojo.ProductRecommendPojo" />
        <typeAlias alias="externalLinksPojo" type="com.tzmb2c.web.pojo.ExternalLinksPojo" />
        <typeAlias alias="templatePageDataPojo" type="com.tzmb2c.web.pojo.TemplatePageDataPojo" />
        <typeAlias alias="hotPlayerPojo" type="com.tzmb2c.web.pojo.HotPlayerPojo" />
        <typeAlias alias="categorySettingPojo" type="com.tzmb2c.web.pojo.CategorySettingPojo" />
        <typeAlias alias="categoryDetailSettingPojo" type="com.tzmb2c.web.pojo.CategoryDetailSettingPojo" />
        <typeAlias alias="grouponActivityPojo" type="com.tzmb2c.web.pojo.GrouponActivityPojo" />
        <typeAlias alias="deliveryOrderImportPojo" type="com.tzmb2c.web.pojo.DeliveryOrderImportPojo" />
        <typeAlias alias="grouponActivityRecordPojo" type="com.tzmb2c.web.pojo.GrouponActivityRecordPojo" />
        <typeAlias alias="grouponUserRecordPojo" type="com.tzmb2c.web.pojo.GrouponUserRecordPojo" />
        <typeAlias alias="groupFreeCouponPojo" type="com.tzmb2c.web.pojo.GroupFreeCouponPojo" />
        <typeAlias alias="groupFreeCouponSettingPojo" type="com.tzmb2c.web.pojo.GroupFreeCouponSettingPojo" />
        <typeAlias alias="grouponRecommendPojo" type="com.tzmb2c.web.pojo.GrouponRecommendPojo" />
        <typeAlias alias="ProductExcelPojo" type="com.tzmb2c.web.pojo.ProductExcelPojo" />
        <typeAlias alias="specialPojo" type="com.tzmb2c.web.pojo.SpecialPojo" />
        <typeAlias alias="specialTypePojo" type="com.tzmb2c.web.pojo.SpecialTypePojo" />
        <typeAlias alias="specialGoodsPojo" type="com.tzmb2c.web.pojo.SpecialGoodsPojo" />
        <typeAlias alias="userPindekeInfoPojo" type="com.tzmb2c.web.pojo.UserPindekeInfoPojo" />
        <typeAlias alias="userDealLogPojo" type="com.tzmb2c.web.pojo.UserDealLogPojo" />
        <typeAlias alias="zonesPojo" type="com.tzmb2c.web.pojo.ZonesPojo" />
        <typeAlias alias="zoneGoodsPojo" type="com.tzmb2c.web.pojo.ZoneGoodsPojo" />
        <typeAlias alias="seckillPojo" type="com.tzmb2c.web.pojo.SeckillPojo" />
        <typeAlias alias="seckillGoodsPojo" type="com.tzmb2c.web.pojo.SeckillGoodsPojo" />
        <typeAlias alias="activityProductCommentPojo" type="com.tzmb2c.web.pojo.ActivityProductCommentPojo" />
        <typeAlias alias="drawGrouponRecordPojo" type="com.tzmb2c.web.pojo.DrawGrouponRecordPojo" />
        <typeAlias alias="grouponPushPojo" type="com.tzmb2c.web.pojo.GrouponPushPojo" />
        <typeAlias alias="productSellPojo" type="com.tzmb2c.web.pojo.ProductSellPojo" />
        <typeAlias alias="sysLoginExcelPojo" type="com.tzmb2c.web.pojo.SysLoginExcelPojo" />
        <typeAlias alias="grouponExcelPojo" type="com.tzmb2c.web.pojo.GrouponExcelPojo" /> 
        <typeAlias alias="userOrderNoticePojo" type="com.tzmb2c.web.pojo.UserOrderNoticePojo" />
        <typeAlias alias="NoticeTemplatePojo" type="com.tzmb2c.web.pojo.NoticeTemplatePojo" />
        <typeAlias alias="versionControlPojo" type="com.tzmb2c.web.pojo.VersionControlPojo" />
        <typeAlias alias="userCouponFlagPojo" type="com.tzmb2c.web.pojo.UserCouponFlagPojo" />
		<typeAlias alias="productRestrictionPojo" type="com.tzmb2c.web.pojo.ProductRestrictionPojo" />
		<typeAlias alias="userRedeemCodePojo" type="com.tzmb2c.web.pojo.UserRedeemCodePojo" />
		<typeAlias alias="aliRedEnvelopePojo" type="com.tzmb2c.web.pojo.AliRedEnvelopePojo" />
		<typeAlias alias="pindekeMonthSalePojo" type="com.tzmb2c.web.pojo.PindekeMonthSalePojo" />
	</typeAliases>
</configuration>