<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzmb2c.web.mapper.ProductTypeRecommendMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		p.id as id,
		p.product_type_id as productTypeId,
		p.sorting as sorting,
		p.create_date as createDate,
		p.create_by as createBy,
		p.update_date as updateDate,
		t.name as name,
		t.image as image,
		tt.name as parentName,
		p.update_by as updateBy
	</sql>
	
	<select id="getById" parameterType="Long" resultType="ProductTypeRecommendPojo">
		select
			<include refid="Base_Column_List" />
		from
			product_type_recommend p left join product_type t on p.product_type_id=t.id left join product_type tt on t.pid=tt.id
		where
			p.id = #{id}
	</select>
	
	<select id="countBy" parameterType="java.util.Map" resultType="int">
		select count(*)
		from product_type_recommend p
		where 1=1
		  <if test="id != null ">
			and p.id = #{id}
		  </if>
		  <if test="productTypeId != null ">
			and p.product_type_id = #{productTypeId}
		  </if>
		  <if test="sorting != null ">
			and p.sorting = #{sorting}
		  </if>
		  <if test="createDate != null ">
			and p.create_date = #{createDate}
		  </if>
		  <if test="createBy != null ">
			and p.create_by = #{createBy}
		  </if>
		  <if test="updateDate != null ">
			and p.update_date = #{updateDate}
		  </if>
		  <if test="updateBy != null ">
			and p.update_by = #{updateBy}
		  </if>
	</select>
	
	<select id="listPage" parameterType="java.util.Map" resultType="ProductTypeRecommendPojo">
		select
			<include refid="Base_Column_List" />
		from product_type_recommend p left join product_type t on p.product_type_id=t.id left join product_type tt on t.pid=tt.id
		where 1=1
			<if test="id != null ">
			  and p.id = #{id}
			</if>
			<if test="productTypeId != null ">
			  and p.product_type_id = #{productTypeId}
			</if>
			<if test="sorting != null ">
			  and p.sorting = #{sorting}
			</if>
			<if test="createDate != null ">
			  and p.create_date = #{createDate}
			</if>
			<if test="createBy != null ">
			  and p.create_by = #{createBy}
			</if>
			<if test="updateDate != null ">
			  and p.update_date = #{updateDate}
			</if>
			<if test="updateBy != null ">
			  and p.update_by = #{updateBy}
			</if>
			<if test="typeStatus != null ">
			  and t.status = #{typeStatus}
			</if>
			<if test="typeVisable != null ">
			  and t.visable = #{typeVisable}
			</if>
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}
		</if>
		<if test="pageSize != null">
			limit #{pageNo}, #{pageSize}
		</if>
	</select>
	
	<update id="update" parameterType="ProductTypeRecommendPojo">
		update product_type_recommend
		<set>
			<if test="productTypeId != null">
			  product_type_id = #{productTypeId},
			</if>
			<if test="sorting != null">
			  sorting = #{sorting},
			</if>
			<if test="createDate != null">
			  create_date = #{createDate},
			</if>
			<if test="createBy != null">
			  create_by = #{createBy},
			</if>
			<if test="updateDate != null">
			  update_date = #{updateDate},
			</if>
			<if test="updateBy != null">
			  update_by = #{updateBy},
			</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="Long">
		delete from product_type_recommend 
		where
			id = #{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ProductTypeRecommendPojo">
		insert into product_type_recommend
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="productTypeId != null">
				product_type_id,
			</if>
			<if test="sorting != null">
				sorting,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="productTypeId != null">
				#{productTypeId},
			</if>
			<if test="sorting != null">
				#{sorting},
			</if>
			<if test="createDate != null">
				#{createDate},
			</if>
			<if test="createBy != null">
				#{createBy},
			</if>
			<if test="updateDate != null">
				#{updateDate},
			</if>
			<if test="updateBy != null">
				#{updateBy},
			</if>
		</trim>
	</insert>
	
</mapper>