<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzmb2c.web.mapper.UserCertificatesPhotoMapper">
	<insert id="insertUserCertificatesPhoto" parameterType="userCertificatesPhotoPojo">
		insert into user_certificates_photo 
		(suser_id,image1,image2,image3,image4,image5,image6,status,create_date,create_by,image1_begin_date,image1_end_date,image7) 
		value 
		(#{suserId},#{image1},#{image2},#{image3},#{image4},#{image5},#{image6},#{status},now(),#{createBy},#{image1BeginDate},#{image1EndDate},#{image7})
	</insert>
	
	<select id="findUserCertificatesPhotoByUid" resultType="userCertificatesPhotoPojo" parameterType="Long">
		select id,
		suser_id as suserId,
		image1,
		image2,
		image3,
		image4,
		image5,
		image6,
		status,
		create_date as createDate,
		create_by as createBy,
		update_date as updateDate,
		update_by as updateBy, 
		image1_begin_date as image1BeginDate,
		image1_end_date as image1EndDate,
		image7
		from user_certificates_photo where suser_id = #{id}
	</select>
	
	<delete id="delUserCertificatesPhotoById" parameterType="Long">
		delete from user_certificates_photo where id = #{id}
	</delete>
	
	<update id="checkUserCertificatesPhoto" parameterType="Long">
		update user_certificates_photo set status = 1 where id = #{id}
	</update>
	
	<update id="uncheckUserCertificatesPhoto" parameterType="Long">
		update user_certificates_photo set status = 0 where id = #{id}
	</update>
	
	<update id="updateUserCertificatesPhoto" parameterType="userCertificatesPhotoPojo">
		update user_certificates_photo set 
		<if test="image1 != null and image1 != '' ">
			image1 = #{image1},
		</if>
		<if test="image2 != null and image2 != '' ">
			image2 = #{image2},
		</if>
		<if test="image3 != null and image3 != '' ">
			image3 = #{image3},
		</if>
		<if test="image4 != null and image4 != '' ">
			image4 = #{image4},
		</if>
		<if test="image5 != null and image5 != '' ">
			image5 = #{image5},
		</if>
		<if test="image6 != null and image6 != '' ">
			image6 = #{image6},
		</if>
		<if test="image1BeginDate != null and image1BeginDate != '' ">
			image1_begin_date = #{image1BeginDate},
		</if>
		<if test="image1EndDate != null and image1EndDate != '' ">
			image1_end_date = #{image1EndDate},
		</if>
		<if test="image7 != null and image7 != '' ">
			image7 = #{image7},
		</if>
		<if test="status != null">
			status = #{status},
		</if>
		<if test="suserId != null">
			<!-- suser_id = #{suserId}, -->
			update_by = #{suserId},
		</if>
		update_date = now()
		where 1 = 1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="suserId != null">
			and suser_id = #{suserId}
		</if>
	</update>
	
	
</mapper>