<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzmb2c.web.mapper.UserPostCommentMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id,
		user_id as userId,
		type,
		type_id as typeId,
		author_id as authorId,
		content,
		status,
		create_date as createDate,
		create_by as createBy,
		update_date as updateDate,
		update_by as updateBy
	</sql>
	
	<select id="getById" parameterType="Long" resultType="UserPostCommentPojo">
		select
			<include refid="Base_Column_List" />
		from
			user_post_comment
		where
			id = #{id}
	</select>
	
	<select id="countBy" parameterType="java.util.Map" resultType="int">
		select count(*)
		from user_post_comment c
		<if test="type != null and type == 1">
		left join user_maker_theme t on c.type_id = t.id
		</if>
		<if test="type != null and type == 2">
		left join user_circle_post p on c.type_id = p.id
		</if>
		left join sys_login l on c.author_id = l.id
		where 1=1
		  <if test="id != null ">
			and c.id = #{id}
		  </if>
		  <if test="userId != null ">
			and c.user_id = #{userId}
		  </if>
		  <if test="type != null ">
			and c.type = #{type}
		  </if>
		  <if test="typeId != null ">
			and c.type_id = #{typeId}
		  </if>
		  <if test="authorId != null ">
			and c.author_id = #{authorId}
		  </if>
		  <if test="content != null ">
			and c.content = #{content}
		  </if>
		  <if test="status != null ">
			and c.status = #{status}
		  </if>
		  <if test="createDate != null ">
			and c.create_date = #{createDate}
		  </if>
		  <if test="createBy != null ">
			and c.create_by = #{createBy}
		  </if>
		  <if test="updateDate != null ">
			and c.update_date = #{updateDate}
		  </if>
		  <if test="updateBy != null ">
			and c.update_by = #{updateBy}
		  </if>
	</select>
	
	<select id="listPage" parameterType="java.util.Map" resultType="UserPostCommentPojo">
		select
			c.id,
			c.user_id as userId,
			c.type,
			c.type_id as typeId,
			c.author_id as authorId,
			c.content,
			c.status,
			c.create_date as createDate,
			c.create_by as createBy,
			c.update_date as updateDate,
			c.update_by as updateBy,
			<if test="type != null and type == 1">
			t.special_name as title,
			t.banner,
			t.collect_num as collectNum
			</if>
			<if test="type != null and type == 2">
			p.title,
			p.banner,
			p.collect_num as collectNum
			</if>
			<if test="type != null and type == 3">
			ps.title,
			ps.banner,
			ps.collect_num as collectNum
			</if>
			<!-- <if test="option == null or option == '' ">
				,l.name as author
			</if> -->
			<if test="option != null and option == 'userName2' ">
				,s.name as userName2
				,s.image as userImage2
			</if>
			,l.name as author
			<if test="option != null and option == 'userName' ">
				,(select s.name from sys_login s where c.user_id = s.id) as userName
			</if>
			,l.image as userImage,
			ui.sex as authorSex
		from user_post_comment c
		<if test="type != null and type == 1">
		left join user_maker_theme t on c.type_id = t.id
		</if>
		<if test="type != null and type == 2">
		left join user_circle_post p on c.type_id = p.id
		</if>
		<if test="type != null and type == 3">
		left join platform_special ps on c.type_id = ps.id
		</if>
		left join sys_login l on c.author_id = l.id
		left join user_info ui on c.author_id = ui.user_id
		<!-- <if test="option == null or option == '' ">
			left join sys_login l on c.author_id = l.id
		</if> -->
		<if test="option != null and option == 'userName2' ">
			left join sys_login s on c.user_id = s.id
		</if>
		where 1=1
			<if test="id != null ">
			  and c.id = #{id}
			</if>
			<if test="userId != null ">
			  and c.user_id = #{userId}
			</if>
			<if test="type != null ">
			  and c.type = #{type}
			</if>
			<if test="typeId != null ">
			  and c.type_id = #{typeId}
			</if>
			<if test="authorId != null ">
			  and c.author_id = #{authorId}
			</if>
			<if test="content != null ">
			  and c.content = #{content}
			</if>
			<if test="status != null ">
			  and c.status = #{status}
			</if>
			<if test="createDate != null ">
			  and c.create_date = #{createDate}
			</if>
			<if test="createBy != null ">
			  and c.create_by = #{createBy}
			</if>
			<if test="updateDate != null ">
			  and c.update_date = #{updateDate}
			</if>
			<if test="updateBy != null ">
			  and c.update_by = #{updateBy}
			</if>
			<if test="groupBy != null ">
			  GROUP BY ${groupBy}
			</if>
		order by c.update_date desc,id desc
		<if test="pageSize != null">
			limit #{pageNo}, #{pageSize}
		</if>
	</select>
	
	<update id="update" parameterType="UserPostCommentPojo">
		update user_post_comment
		<set>
			<if test="userId != null">
			  user_id = #{userId},
			</if>
			<if test="type != null">
			  type = #{type},
			</if>
			<if test="typeId != null">
			  type_id = #{typeId},
			</if>
			<if test="authorId != null">
			  author_id = #{authorId},
			</if>
			<if test="content != null">
			  content = #{content},
			</if>
			<if test="status != null">
			  status = #{status},
			</if>
			  update_date = now()
			<if test="updateBy != null">
			  update_by = #{updateBy},
			</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="Long">
		delete from user_post_comment 
		where
			id = #{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="UserPostCommentPojo">
		insert into user_post_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="typeId != null">
				type_id,
			</if>
			<if test="authorId != null">
				author_id,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="status != null">
				status,
			</if>
				create_date,
			<if test="createBy != null">
				create_by,
			</if>
				update_date,
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="typeId != null">
				#{typeId},
			</if>
			<if test="authorId != null">
				#{authorId},
			</if>
			<if test="content != null">
				#{content},
			</if>
			<if test="status != null">
				#{status},
			</if>
				now(),
			<if test="createBy != null">
				#{createBy},
			</if>
				now(),
			<if test="updateBy != null">
				#{updateBy},
			</if>
		</trim>
	</insert>
	
</mapper>