<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tzmb2c.web.mapper.LoginRecMapper">
	<insert id="addLoginRec" parameterType="LoginRecPojo">
		insert into sys_login_log(user_id,login_date,login_ip)
		values (#{userId},#{loginDate},#{loginIp})
	</insert>
	
	<select id="queryLoginRecBylonginId" parameterType="Long" resultType="LoginRecPojo">
		select  user_id userId,login_date loginDate,login_ip loginIp
		from sys_login_log
	</select>
	
	<select id="queryLoginRecBeforeItem" parameterType="Long" resultType="LoginRecPojo">
		
			  select  user_id userId,login_date loginDate,login_ip loginIp
			  from sys_login_log where user_id=#{id} order by login_date desc limit 1,1
	</select>
	<select id="queryTDLoinRecCount" parameterType="String" resultType="Long">
		  select IFNULL(TIMESTAMPDIFF(SECOND ,max(login_date),now()),60) from sys_login_log where login_ip=#{loginIp}
	</select>
</mapper>