<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzmb2c.web.mapper.NoticeTemplateMapper">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id as id,
		type as type,
		title as title,
		template as template,
		is_delete as isDelete,
		status as status,
		create_by as createBy,
		create_date as createDate,
		update_by as updateBy,
		update_date as updateDate
	</sql>
	
	<select id="getById" parameterType="Long" resultType="NoticeTemplatePojo">
		select
			<include refid="Base_Column_List" />
		from
			notice_template
		where
			id = #{id}
	</select>
	
	<select id="countBy" parameterType="java.util.Map" resultType="int">
		select count(*)
		from notice_template
		where 1=1
		  <if test="id != null ">
			and id = #{id}
		  </if>
		  <if test="type != null ">
			and type = #{type}
		  </if>
		  <if test="title != null and title != '' ">
			and title = #{title}
		  </if>
		  <if test="template != null and template != '' ">
			and template = #{template}
		  </if>
		  <if test="isDelete != null ">
			and is_delete = #{isDelete}
		  </if>
		  <if test="status != null ">
			and status = #{status}
		  </if>
		  <if test="createBy != null ">
			and create_by = #{createBy}
		  </if>
		  <if test="createDate != null ">
			and create_date = #{createDate}
		  </if>
		  <if test="updateBy != null ">
			and update_by = #{updateBy}
		  </if>
		  <if test="updateDate != null ">
			and update_date = #{updateDate}
		  </if>
	</select>
	
	<select id="listPage" parameterType="java.util.Map" resultType="NoticeTemplatePojo">
		select
			<include refid="Base_Column_List" />
		from notice_template
		where 1=1
			<if test="id != null ">
			  and id = #{id}
			</if>
			<if test="type != null ">
			  and type = #{type}
			</if>
			<if test="title != null and title != '' ">
			  and title = #{title}
			</if>
			<if test="template != null and template != '' ">
			  and template = #{template}
			</if>
			<if test="isDelete != null ">
			  and is_delete = #{isDelete}
			</if>
			<if test="status != null ">
			  and status = #{status}
			</if>
			<if test="createBy != null ">
			  and create_by = #{createBy}
			</if>
			<if test="createDate != null ">
			  and create_date = #{createDate}
			</if>
			<if test="updateBy != null ">
			  and update_by = #{updateBy}
			</if>
			<if test="updateDate != null ">
			  and update_date = #{updateDate}
			</if>
		<if test="orderBy != null and orderBy !=''">
			order by ${orderBy}
		</if>
		<if test="pageSize != null">
			limit #{pageNo}, #{pageSize}
		</if>
	</select>
	
	<update id="update" parameterType="NoticeTemplatePojo">
		update notice_template
		<set>
			<if test="type != null">
			  type = #{type},
			</if>
			<if test="title != null">
			  title = #{title},
			</if>
			<if test="template != null">
			  template = #{template},
			</if>
			<if test="isDelete != null">
			  is_delete = #{isDelete},
			</if>
			<if test="status != null">
			  status = #{status},
			</if>
			<if test="createBy != null">
			  create_by = #{createBy},
			</if>
			<if test="createDate != null">
			  create_date = #{createDate},
			</if>
			<if test="updateBy != null">
			  update_by = #{updateBy},
			</if>
			<if test="updateDate != null">
			  update_date = #{updateDate},
			</if>
		</set>
		where
			id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="Long">
		delete from notice_template 
		where
			id = #{id}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="NoticeTemplatePojo">
		insert into notice_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="template != null">
				template,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="title != null">
				#{title},
			</if>
			<if test="template != null">
				#{template},
			</if>
			<if test="isDelete != null">
				#{isDelete},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="createBy != null">
				#{createBy},
			</if>
			<if test="createDate != null">
				#{createDate},
			</if>
			<if test="updateBy != null">
				#{updateBy},
			</if>
			<if test="updateDate != null">
				#{updateDate},
			</if>
		</trim>
	</insert>
	
</mapper>