<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tzmb2c.web.mapper.SysAreaMapper">

	<select id="getSysAreaByPid" parameterType="sysAreaPojo" resultType="sysAreaPojo">
		select 
		t.id as id, 
		t.name as name ,
		t.name_en as nameEn, 
		t.type as type, 
		t.postcode as postcode,
		t.level as level,
		t.pid as pid,
		t.sorting as sorting,
		t.status as status,
		t.postage as postage,
		t.postage2 as postage2,
		t.add_postage as addPostage,
		t.add_postage2 as addPostage2,
		t.is_often as isOften,
		(select name from sys_dict where value=t.status and type = 'sys_dict_status') statusName
		from sys_area t where 1=1
		<if test="name!=null and name!=''">
			and t.name like CONCAT("%",#{name},"%") 
		</if>
		<if test="pid!=null and pid > -1">
			and t.pid = #{pid} 
		</if>
		 order by t.level desc,id asc 
	</select>
	
	<select id="getNameById" parameterType="Integer" resultType="sysAreaPojo">
		select 
		t.id as id, 
		t.name as name ,
		t.name_en as nameEn, 
		t.type as type, 
		t.postcode as postcode,
		t.level as level,
		t.pid as pid,
		t.sorting as sorting,
		t.status as status,
		t.postage as postage,
		t.postage2 as postage2,
		t.add_postage as addPostage,
		t.add_postage2 as addPostage2,
		t.is_often as isOften,
		(select name from sys_dict where value=t.status and type = 'sys_dict_status') statusName
		from sys_area t where 1=1
		and t.id = #{id}
	</select>
</mapper>